<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object Detector in the AI era</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<div id="search_bar">
    <div class="animate-box">
        <h2>AI era is going up</h2>
        <p>Object Detecting...</p>
    </div>
    <form action="odResult" method="post" enctype="multipart/form-data">
        <div style="width: 100px; margin-top: 16px; margin-left: 20px">
            <input type="file" name="img">
            <button class="btn ban_butt" type="submit" id="seo_but">
                <i class="fa fa-chevron-circle-right"></i>upload
            </button>
        </div>
    </form>
</div>
</body>
</html>